$dk-font: IRANYekan, Poppins, sans-serif;
$tg-primary: #3a6d99;
$tg-secondary: #6490b1;
$tg-text-color: #499dd9;
$tg-user-text-color: #3a6d99;

.tg-primary {
  background-color: $tg-primary !important;
  color: #fff !important;
}

.tg-secondary {
  background-color: $tg-secondary !important;
  color: #fff;
}

.tg-text-color {
  color: $tg-text-color !important;
}

.tg-user-text-color {
  color: $tg-user-text-color !important;
}
