@media (min-width: 576px) {
  .display-last-message {
    max-width: 80px;
  }
}
@media (min-width: 992px) {
  .display-last-message {
    max-width: 100px;
  }
}
@media (min-width: 1024px) {
  .display-last-message {
    max-width: 130px;
  }
}
@media (min-width: 1440px) {
  .display-last-message {
    max-width: 230px;
  }
}
