@media (min-width: 576px) {
  .tg-container-size {
    width: 80% !important;
  }
}
@media (min-width: 992px) {
  .tg-container-size {
    width: 80% !important;
  }
}
@media (min-width: 1024px) {
  .tg-container-size {
    width: 75% !important;
  }
}
@media (min-width: 1440px) {
  .tg-container-size {
    width: 75% !important;
  }
}
@media (min-width: 2000px) {
  .tg-container-size {
    width: 50% !important;
  }
}
